#main {
  background-color:transparent !important;
}

.next-page-row, .next-page-btn, .click-appear-text, .drag-drop-img-wrap, #drop-message, #drag-drop-btn {
  display:none;
}

.draggable-table {
  display:table;
}

.draggable-table > div {
  display:table-row;
}

.draggable-table > div > div {
  display:table-cell;
  vertical-align:middle;
  width:100%;
}

.draggable-text {
  padding-right:30px;
  margin-bottom:0;
}
#drag-message-section-wrap,
#drop-message-section-wrap {
  height: 100vh;
  position: relative;
}

#drag-message-section-wrap {
  display: flex;
  align-items: center;
  background-color: #ffe5d0;
}

#drop-message {
  padding:20px;
  position:absolute;
  z-index:10;
  left: 0;
  background-color: #842029;
  color: #fff;
}

#drop-message-notice {
  margin-top:0;
  margin-bottom:15px;
}
.draggable-section {
  padding: 30px;
}
.droppable-wrap {
  padding-top:10px;
  padding-bottom:10px;
  height: 100%;
}

.drag-drop-page-title {
  margin-top:0;
  margin-bottom:0;
}

.draggable-text {
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
}

.draggable-item-wrap, .draggable-item {
  width:60px;
  height:60px;
  background-color:transparent;
  background-position:center;
  background-repeat:no-repeat;
  background-size:60px 60px;
}

.draggable-item-wrap {
  background-image:url(../img/img-question-mark-gray-light.svg);
}

.draggable-item {
  cursor:pointer;
  background-image:url(../img/img-question-mark-yellow.svg);
}

.droppable-wrap {
  margin-left:auto;
  margin-right:auto;
  width:270px;
  position:relative;
}

#drag-drop-btn {
  width:100%;
  position:absolute;
  z-index:10;
  bottom:0;
  left:0;
}

.antivirus-logo, .drop-item {
  position:absolute;
  width:230px;
  height:230px;
}

.drop-item {
  top:25px;
  z-index:5;
}

.antivirus-logo {
  bottom:20px;
}

.drag-item {
  cursor:pointer;
}

.draggable-table {
  margin-top:20px;
  margin-bottom:20px;
}

.draggable-table hr {
  margin-left:auto;
  margin-right:auto;
  width:90%;
}

.drag-holder {
  position:relative;
}

#bg-image {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  background-color:rgba(0,0,0,0.5);
}

.dark-bg {
  /* background-image:url(../img/dark-bg.png); */
  background-color: black;
  background-repeat:repeat;
  background-size:cover;
  background-position:left bottom;
}

.yellow-text {
  color:#F5C714;
}

.selected {
  color: #58151c;
}

.gray-text {
  color:#6c757d;
}

.bg-gray{
  background-color: #BFBFBF;
  height: 100%;
}

.bg-red{
  background-color: brown;
}

@media (min-width:1400px){
  .draggable-section {
    padding: 30px;
  }
  
}
@media (max-width:1200px){
  .draggable-section {
    padding: 12px;
    margin-top: 5%;
  }
  .antivirus-logo, .drop-item {
    position:absolute;
    width:200px;
    height:200px;
    
  }
  .droppable-wrap {
    padding-top:20px;
    padding-bottom:10px;
    height: 100%;
  }
  .droppable-wrap {
    margin-left:auto;
    margin-right:auto;
    width:200px;
    position:relative;
  }

  #drag-drop-btn{
    width:100%;
    position:absolute;
    z-index:10;
    bottom:0;
    left:0;
  }
  #drag-message-section-wrap,
  #drop-message-section-wrap {
    height: 100vh;
    position: relative;
  }
  .large-font{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
  }
}
@media (max-width:1026px){
  .draggable-section {
    padding: 5px;
    margin-top: 5%;
    bottom: 0;
  }
  .draggable-text {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
  }
  .large-font{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
  }
  .antivirus-logo, .drop-item {
    position:absolute;
    width:200px;
    height:200px;
  }
}
@media (max-width:992px){
  .large-font{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.367;
  }
  .antivirus-logo, .drop-item {
    position:absolute;
    width:170px;
    height:170px;
  }
  .droppable-wrap{
    height: 90%;
  }
}
@media (max-width:769px){
  .large-font{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.367;
  }
  .antivirus-logo, .drop-item {
    position:absolute;
    width:170px;
    height:170px;
  }
  .droppable-wrap{
    width: 180px;
  }
}

@media (max-width:536px){
  #drag-message-section-wrap{
    margin-top: 90%;
  }
}

@media (max-width:440px){
  #drag-message-section-wrap{
    margin-top: 530px;
  }
  .droppable-wrap{
    height: 90%;
  }
}

@media (max-width:372px){
  .large-font{
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
  }
  .draggable-item-wrap, .draggable-item {
    width:40px;
    height:40px;
    background-color:transparent;
    background-position:center;
    background-repeat:no-repeat;
    background-size:40px 40px;
  }
  .antivirus-logo, .drop-item {
    position:absolute;
    width:130px;
    height:130px;
  }
  .droppable-wrap{
    width: 120px;
    height: 90%;
  }
}