.droppable-area {
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  position:relative;
  display:table;
  height:150px;
}

.draggable-area {
  margin-right:auto;
  margin-left:auto;
  padding-bottom:20px;
  /*position:absolute;*/
  /*width:100%;*/
  top:20px;
  text-align:center;
}

.text-middle {
  display:table;
  width:100%;
  height:100%;
  position:relative;
  z-index:1;
}

.text-middle > div {
  display:table-row;
  width:100%;
  height:100%;
}

.text-middle > div > div {
  display:table-cell;
  width:100%;
  height:100%;
  vertical-align:middle;
  text-align:center;
}

.drag-item-text {
  padding:5px;
}

.drop-item-text {
  padding-left:12px;
  padding-right:10px;
  border-radius:500px;
  background-color:rgba(255,255,255,1);
  position:relative;
  top:30px;
  font-size:2em;
}

.drag-item-wrap {
  margin-left:10px;
  margin-right:10px;
  display:inline-block;
  position:relative;
}

.drop-item {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  position:relative;
}

.drag-item-info {
  cursor:pointer;
  color:#fff;
  position:absolute;
  background-image:linear-gradient(to top right, transparent, transparent 50%, #C01818 50%, #C01818);
  z-index:2;
  top:0;
  right:0;
}

.drop-item-info {
  padding:2px 10px;
  display:table;
  border-radius:100px;
  background-color:#F37321;
  color:#fff;
  position:absolute;
  top:13px;
  right:10px;
  font-size:1.2em;
  cursor:context-menu;
}

.drag-item-info span {
  position:absolute;
  bottom:10px;
  left:20px;
}

.drop-item-info {
  border:1px solid #fff;
}

.drag-item-info:hover, .drop-item-info:hover {
  background-image:linear-gradient(to top right, transparent, transparent 50%, #CD6E2D 50%, #CD6E2D);
}

.drag-item {
  position:absolute;
  text-align:center;
  background-color:#fff;
  cursor:move;
  top:0;
  left:0;
}

.drop-items-wrap {
  position:relative;
}

.drag-items-wrap {
  position:relative;
}

#reset-drag-drop-btn, .reset-drag-drop-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: table;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.2em;
  min-width: 160px;
  background-color:#ffc825;
  cursor:pointer;
}

#submit-drag-drop-btn, .submit-drag-drop-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: table;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.2em;
  min-width: 160px;
  background-color:#ffc825;
  cursor:pointer;
}

#reset-drag-drop-btn:hover, #submit-drag-drop-btn:hover, .reset-drag-drop-btn:hover, .submit-drag-drop-btn:hover {
  background-color:#e7a624;
}

.drag-item-info-resources, .drop-item-info-resources {
  position:absolute;
  width:60px;
  right:-60px;
  z-index:5;
  background-color:#fff;
  border:1px solid #B1BABF;
  text-align:left;
  display:none;
}

.drop-item-info-resources {
  top:13px;
  right:-55px;
}

.drag-item-info-resources span, .drop-item-info-resources span {
  padding-left:5px;
  padding-right:5px;
  display:block;
  cursor:default;
}

.drag-item-info-resources span:hover, .drop-item-info-resources span:hover {
  background-color:#E6E7E8;
}

#resource-info-wrap {
  position:fixed;
  z-index:5;
  width:100%;
  height:100%;
  top:0;
  display:none;
}

#resource-info-box {
  margin:0 auto 10px;
  padding:10px;
  background-color:#fff;
  border-radius:5px;
  color:#555;
  height:100px;
  display:table;
  position:relative;
  overflow:auto;
  max-width:400px;
  border:1px solid #E6E7E8;
}

#resource-info-close-btn {
  padding:5px 10px;
  position:absolute;
  top:0;
  right:0;
  color:#fff;
  background-color:#C01818;
  cursor:pointer;
  border-radius:0 5px 0 0;
}

#resource-info-close-btn:hover {
  background-color:#75160D;
}

#resource-info {
  margin-top:25px;
  max-height:250px;
  overflow:auto;
  font-size:1.25em;
}

#resource-info-wrap .row {
  position:absolute;
  bottom:0px;
  width:100%;
}

.drag-select {
  margin-top:20px;
  display:block;
  font-size:1.2em;
}

#red-cloud-wrap {
  position:relative;
}

#red-cloud-wrap, #red-cloud {
  margin-left:auto;
  margin-right:auto;
  height:auto;
  display:block;
}

#activity-name {
  text-align:center;
  position:absolute;
  bottom:40px;
  color:#fff;
  font-size:3em;
}

#activity-name, #red-cloud-wrap, #red-cloud {
  width:450px;
}

.icon-brand, .submit-response-drag, .submit-response-drop, .drop-icn {
  background-position:center;
  background-repeat:no-repeat;
}

#cloud-building, #cloud-server, #cloud-car, #page-3-bg {
  margin-left:auto;
  margin-right:auto;
  background-position:center;
  background-repeat:no-repeat;
}

#page-3-bg {
  background-image:url(../img/page-3-bg.svg);
}

#cloud-building {
  background-image:url(../img/cloud-building.svg);
}

#cloud-server {
  background-image:url(../img/cloud-server.svg);
}

#cloud-car {
  background-image:url(../img/cloud-car.svg);
}

.submit-response-drag.correct, .submit-response-drag.incorrect, .submit-response-drop.missing {
  width:76px;
  height:76px;
  cursor:pointer;
}

.submit-response-drag.correct, .submit-response-drag.incorrect {
  background-color:rgba(255,255,255, 0.8);
}

.submit-response-drag.correct:hover, .submit-response-drag.incorrect:hover {
  background-color:rgba(255,255,255, 0.5);
}

.submit-response-drop.missing {
  background-color:#E6E7E8;
}

.submit-response-drop.missing:hover {
  background-color:#B1BABF;
}

.submit-response-drag.correct {
  background-image:url(../img/response-correct.svg);
}

.submit-response-drag.incorrect {
  background-image:url(../img/response-incorrect.svg);
}

.submit-response-drop.missing {
  background-image:url(../img/response-missing.svg);
}

/* .icn-access-analytics {
  background-image:url(../img/icn-access-analytics.svg);
}

.icn-autonomous-remediation {
  background-image:url(../img/icn-autonomous-remediation.svg);
}

.icn-content-analytics {
  background-image:url(../img/icn-content-analytics.svg);
}

.icn-contextual-access-control {
  background-image:url(../img/icn-contextual-access-control.svg);
}

.icn-encryption {
  background-image:url(../img/icn-encryption.svg);
}

.icn-in-app-coaching {
  background-image:url(../img/icn-in-app-coaching.svg);
}

.icn-insider-threat-detection {
  background-image:url(../img/icn-insider-threat-detection.svg);
}

.icn-mcafee-ground-link {
  background-image:url(../img/icn-mcafee-ground-link.svg);
}

.icn-policy-incident-management {
  background-image:url(../img/icn-policy-incident-management.svg);
}

.icn-pre-built-policy-templates {
  background-image:url(../img/icn-pre-built-policy-templates.svg);
}

.icn-privacy-guard {
  background-image:url(../img/icn-privacy-guard.svg);
}

.icn-removal {
  background-image:url(../img/icn-removal.svg);
}

.icn-security-configuration-audit {
  background-image:url(../img/icn-security-configuration-audit.svg);
}

.icn-unified-policy-engine {
  background-image:url(../img/icn-unified-policy-engine.svg);
}

.icn-information-rights-management {
  background-image:url(../img/icn-information-rights-management.svg);
}

.icn-public-searchable {
  background-image:url(../img/icn-public-searchable.svg);
}

.icn-no-password {
  background-image:url(../img/icn-no-password.svg);
}

.icn-multiple-platforms {
  background-image:url(../img/icn-multiple-platforms.svg);
}

.icn-outdated-setting {
  background-image:url(../img/icn-outdated-setting.svg);
}

.icn-unsanctioned-devices {
  background-image:url(../img/icn-unsanctioned-devices.svg);
}

.icn-data-that-travels {
  background-image:url(../img/icn-data-that-travels.svg);
}

.icn-user-behavioral-analytics {
  background-image:url(../img/icn-user-behavioral-analytics.svg);
}

.icn-collaboration-controls-using-dlp {
  background-image:url(../img/icn-collaboration-controls-using-dlp.svg);
}

.icn-cloud-based-dlp-for-regulated-data {
  background-image:url(../img/icn-cloud-based-dlp-for-regulated-data.svg);
}

.icn-control-behavior-for-byod-devices {
  background-image:url(../img/icn-control-behavior-for-byod-devices.svg);
}

.icn-device-access-control-policies {
  background-image:url(../img/icn-device-access-control-policies.svg);
} */

.gray-border {
  border:2px solid #E6E7E8;
}

.red-border {
  border:2px solid #c84029;
}

.no-border {
  border:none;
}



.drag-holder {
  position:absolute;
}

.drag-item-wrap {
  z-index:5;
}

.tooltip-inner {
  padding:10px;
}

.tooltip {
  font-size:11px;
}

.Discover-and-Classification {
  background-image:url(../img/Discover-and-Classification.svg);
}

.App-Service-Segmentation {
  background-image:url(../img/App-Service-Segmentation.svg);
}

.Access-Governamance {
  background-image:url(../img/Access-Governamance.svg);
}

.Cloud-Security-Posture-Mgmt-CSPM {
  background-image:url(../img/Cloud-Security-Posture-Mgmt-CSPM.svg);
}

.Cloud-Workload-Protection-CWPP {
  background-image:url(../img/Cloud-Workload-Protection-CWPP.svg);
}

#page-3-bg {
  position:relative;
}

.Container-Security {
  background-image:url(../img/Container-Security.svg);
}

.drop-item-extra {
  display:table;
  margin:unset;
  position:absolute;
}

@media (min-width:1200px) {
  .drop-item, .drag-item-wrap, .drag-item {
    width:80px;
    height:80px;
  }
  .icon-brand, .submit-response-drag, .submit-response-drop, .drop-icn {
    background-size:80px 80px;
  }
  .submit-response-drag.correct, .submit-response-drag.incorrect, .submit-response-drop.missing {
    width:76px;
    height:76px;
  }
  .drag-item-info {
    width:30px;
    height:30px;
  }
  #resource-info-wrap {
    /*top:60%;*/
  }
  #resource-info-box {
    width:50%;
  }
  #red-cloud-wrap, #red-cloud {
    margin-top:200px;
  }
  .droppable-area {
    top:0;
  }
  .drop-item {
    background-color:#fff;
  }
  .drop-select-wrap {
    display:none;
  }
  .drag-items-wrap, .drop-items-wrap {
    margin-left:auto;
    margin-right:auto;
  }
  .cloud-drop {
    top:100px;
  }
  .building-drop {
    top:160px;
  }
  .multiple-platform-drop {
    top:140px;
  }
  .outdated-setting-drop {
    top:320px;
  }
  .unsanctioned-drop {
    top:230px;
  }
  .car-drop {
    top:230px;
    left:120px;
  }
  #cloud-building, #cloud-server, #cloud-car, #page-3-bg {
    width:500px;
    height:500px;
    background-size:500px 500px;
  }
}


@media (max-width:1199px) {
  .drop-item, .drag-item-wrap, .drag-item {
    width:80px;
    height:80px;
  }
  .icon-brand, .submit-response-drag, .submit-response-drop {
    background-size:80px 80px;
  }
  .submit-response-drag.correct, .submit-response-drag.incorrect, .submit-response-drop.missing {
    width:76px;
    height:76px;
  }
  .drag-item-info {
    width:30px;
    height:30px;
  }
  #resource-info-wrap {
    /*top:60%;*/
  }
  #resource-info-box {
    width:50%;
  }
  #red-cloud-wrap, #red-cloud {
    margin-top:200px;
  }
  .droppable-area {
    top:0;
  }
  .drop-item {
    background-color:#fff;
  }
  .drop-select-wrap {
    display:none;
  }
  .drag-items-wrap, .drop-items-wrap {
    margin-left:auto;
    margin-right:auto;
  }
  .cloud-drop {
    top:100px;
  }
  .building-drop {
    top:160px;
  }
  .multiple-platform-drop {
    top:140px;
  }
  .outdated-setting-drop {
    top:320px;
  }
  .unsanctioned-drop {
    top:230px;
  }
  .car-drop {
    top:230px;
    left:120px;
  }
  #cloud-building, #cloud-server, #cloud-car, #page-3-bg {
    width:500px;
    height:500px;
    background-size:500px 500px;
  }
}

@media (max-width:1024px) {
  .icon-brand, .submit-response-drag, .submit-response-drop, .drop-icn {
    background-size:80px 80px;
  }
  .submit-response-drag.correct, .submit-response-drag.incorrect, .submit-response-drop.missing {
    width:76px;
    height:76px;
  }
  .drag-item-info {
    width:30px;
    height:30px;
  }
  #resource-info-wrap {
    /*top:60%;*/
  }
  #resource-info-box {
    width:50%;
  }
  #red-cloud-wrap, #red-cloud {
    margin-top:200px;
  }
  .droppable-area {
    top:0;
  }
  .drop-item {
    background-color:#fff;
  }
  .drop-select-wrap {
    display:none;
  }
  .drag-items-wrap, .drop-items-wrap {
    margin-left:auto;
    margin-right:auto;
  }
  .cloud-drop {
    top:100px;
  }
  .building-drop {
    top:160px;
  }
  .multiple-platform-drop {
    top:140px;
  }
  .outdated-setting-drop {
    top:320px;
  }
  .unsanctioned-drop {
    top:230px;
  }
  .car-drop {
    top:230px;
    left:120px;
  }
  #cloud-building, #cloud-server, #cloud-car, #page-3-bg {
    /*top:200px;*/
    width:500px;
    height:500px;
    background-size:500px 500px;
  }
}


@media (max-width:991px) {
  .drop-item, .drag-item-wrap, .drag-item {
    width:80px;
    height:80px;
  }
  .icon-brand, .submit-response-drag, .submit-response-drop, drop-icn {
    background-size:80px 80px;
  }
  .submit-response-drag.correct, .submit-response-drag.incorrect, .submit-response-drop.missing {
    width:76px;
    height:76px;
  }
  .drag-item-info {
    width:30px;
    height:30px;
  }
  #resource-info-wrap {
    /*top:60%;*/
  }
  #resource-info-box {
    width:50%;
  }
  #red-cloud-wrap, #red-cloud {
    margin-top:200px;
  }
  .droppable-area {
    /*top:110px;*/
  }
  .drop-item {
    background-color:#fff;
  }
  .drop-select-wrap {
    display:none;
  }
  .drag-items-wrap, .drop-items-wrap {
    margin-left:auto;
    margin-right:auto;
  }
  .cloud-drop {
    top:70px;
  }
  .building-drop {
    top:100px;
  }
  .multiple-platform-drop {
    top:120px;
  }
  .outdated-setting-drop {
    top:240px;
  }
  .unsanctioned-drop {
    top:180px;
  }
  .car-drop {
    top:160px;
    left:90px;
  }
  #cloud-building, #cloud-server, #cloud-car, #page-3-bg {
    position:relative;
    /*top:130px;*/
    width:400px;
    height:400px;
    background-size:400px 400px;
  }
}

@media (max-width:767px) {
  .drop-item, .drag-item-wrap, .drag-item {
    width:50px;
    height:50px;
  }
  .icon-brand, .submit-response-drag, .submit-response-drop, .drop-icn {
    background-size:50px 50px;
  }
  .submit-response-drag.correct, .submit-response-drag.incorrect, .submit-response-drop.missing {
    width:46px;
    height:46px;
  }
  .drag-item-info {
    width:15px;
    height:15px;
  }
  #resource-info-wrap {
    /*top:60%;*/
  }
  #resource-info-box {
    width:50%;
  }
  #red-cloud-wrap, #red-cloud {
    margin-top:200px;
  }
  .droppable-area {
    /*top:80px;*/
  }
  .drop-item {
    background-color:#fff;
  }
  .drop-select-wrap {
    display:none;
  }
  .drag-items-wrap, .drop-items-wrap {
    margin-left:auto;
    margin-right:auto;
  }
  .cloud-drop {
    top:60px;
  }
  .building-drop {
    top:90px;
  }
  .multiple-platform-drop {
    top:100px;
  }
  .outdated-setting-drop {
    top:190px;
  }
  .unsanctioned-drop {
    top:140px;
  }
  .car-drop {
    top:138px;
    left:70px;
  }
  #cloud-building, #cloud-server, #cloud-car, #page-3-bg {
    position:relative;
    /*top:90px;*/
    width:300px;
    height:300px;
    background-size:300px 300px;
  }
}

@media (min-width:1200px) {
  .drop-correct-1 {
    left:30%;
    bottom:47%;
  }
}

@media (max-width:1199px) {
  .drop-correct-1 {
    left:30%;
    bottom:47%;
  }
}

@media (max-width:991px) {
  .drop-correct-1 {
    left:30%;
    bottom:47%;
  }
}

@media (max-width:767px) {
  .drop-correct-1 {
    left:30%;
    bottom:47%;
  }
}

@media (min-width:1200px) {
  .drop-correct-2 {
    left:15%;
    bottom:17%;
  }
}

@media (max-width:1199px) {
  .drop-correct-2 {
    left:15%;
    bottom:17%;
  }
}

@media (max-width:991px) {
  .drop-correct-2 {
    left:15%;
    bottom:17%;
  }
}

@media (max-width:767px) {
  .drop-correct-2 {
    left:15%;
    bottom:17%;
  }
}

@media (min-width:1200px) {
  .drop-correct-3 {
    right:38%;
    bottom:17%;
  }
}

@media (max-width:1199px) {
  .drop-correct-3 {
    right:35%;
    bottom:17%;
  }
}

@media (max-width:991px) {
  .drop-correct-3 {
    right:35%;
    bottom:17%;
  }
}

@media (max-width:767px) {
  .drop-correct-3 {
    right:35%;
    bottom:17%;
  }
}

.drag-drop-next-btn {
  position:relative;
}

@media (min-width:1200px) {
  .drag-drop-next-btn {
    top:30px;
  }
}

@media (max-width:1199px) {
  .drag-drop-next-btn {
    top:30px;
  }
}

@media (max-width:991px) {
  .drag-drop-next-btn {
    top:200px;
  }
}

@media (max-width:767px) {
  .drag-drop-next-btn {
    top:180px;
  }
}

@media (max-width:576px){
  .reset-drag-drop-btn{
    margin-bottom: 10px;
  }
}

._table {
  display:table;
  position:absolute;
  width:100%;
  height:100%;
}

._table > div {
  display:table-row;
  width:100%;
  height:100%;
}

._table > div > div {
  display:table-cell;
  width:100%;
  height:100%;
  vertical-align:middle;
}

