#main {
  background-color:transparent;
}

.bg-gradient-drak-blue {
  color:#fff !important;
  background-color:#4d5b74;
  background: linear-gradient(135deg, #e64a30, #c84029);
}

.flex-container {
  display:flex;
}

.flex-container-align-center {
  align-items:center;
}

.element-position-relative {
  position:relative;
}

.min-padding {
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
}

#coverHR {
  border-top:1px solid #fff;
}

.no-padding {
  padding:0;
}

@media (min-width:1200px) {
  .element-right {
    margin-left:auto;
  }
}

@media (min-width:1200px) {
  .element-left {
    margin-right:auto;
  }
}

@media (min-width:1200px) {
  #coverHR {
    width:120px;
  }
}

@media (min-width:1200px) {
  #coverBGLogo {
    width:350px;
  }
}

@media (min-width:1200px) {
  .min-width {
    width:500px;
  }
}

@media (max-width:1199px) {
  .element-right {
    margin-left:auto;
  }
}

@media (max-width:1199px) {
  .element-left {
    margin-right:auto;
  }
}

@media (max-width:1199px) {
  #coverHR {
    width:120px;
  }
}

@media (max-width:1199px) {
  #coverBGLogo {
    width:350px;
  }
}

@media (max-width:1199px) {
  .min-width {
    width:500px;
  }
}

@media (max-width:1024px) {
  .element-right {
    margin-left:auto;
  }
}

@media (max-width:1024px) {
  .element-left {
    margin-right:auto;
  }
}

@media (max-width:1024px) {
  #coverHR {
    width:120px;
  }
}

@media (max-width:1024px) {
  #coverBGLogo {
    width:300px;
  }
}

@media (max-width:1024px) {
  .min-width {
    margin-left:auto;
    margin-right:auto;
    max-width:400px;
  }
}

@media (max-width:991px) {
  .element-right {
    margin-left:auto;
  }
}

@media (max-width:991px) {
  .element-left {
    margin-right:auto;
  }
}

@media (max-width:991px) {
  #coverHR {
    width:120px;
  }
}

@media (max-width:991px) {
  #coverBGLogo {
    width:300px;
  }
}

@media (max-width:991px) {
  .min-width {
    width:100%;
  }
}

@media (max-width:767px) {
  .element-right {
    margin-left:initial;
    margin-right:initial;
  }
}

@media (max-width:767px) {
  .element-left {
    margin-left:initial;
    margin-right:initial;
  }
}

@media (max-width:767px) {
  #coverHR {
    width:100%;
  }
}

@media (max-width:767px) {
  #coverBGLogo {
    width:100px;
  }
}

@media (max-width:767px) {
  .min-width {
    margin-left:auto;
    margin-right:auto;
    max-width:400px;
  }
}

@media (max-width:767px) {
  .xs-element-center {
    margin-left:auto;
    margin-right:auto;
  }
}

@media (max-width:767px) {
  .no-padding-xs {
    padding:0 !important;
  }
}

.bg-gradient-dark-blue-2 {
  color:#fff !important;
  background-color:#4d5b74;
  background: linear-gradient(135deg, #e64a30, #c84029);
}

@media (min-width:1200px) {
  .bg-video {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    /* background-image:url(../img/essentials/bg/bg-hero-hp.jpg); */
    background: linear-gradient(135deg, #e64a30, #c84029);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
  }
}

@media (max-width:1199px) {
  .bg-video {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    /* background-image:url(../img/essentials/bg/bg-hero-hp.jpg); */
    background: linear-gradient(135deg, #e64a30, #c84029);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
  }
}

@media (max-width:991px) {
  .bg-video {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    /* background-image:url(../img/texture.jpg); */
    background: linear-gradient(135deg, #e64a30, #c84029);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
  }
}

@media (max-width:767px) {
  .bg-video {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    /* background-image:url(../img/texture.jpg); */
    background: linear-gradient(135deg, #e64a30, #c84029);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
  }
}

/* .bg-gradient-dark-blue-3 {
  color:#fff !important;
  background-image:url(../img/extra-1.svg), radial-gradient(ellipse farthest-corner at 90% 90%,
      rgb(51, 62, 79), rgb(51, 62, 79) 10%, rgb(77, 91, 116) 50%, rgb(51, 62, 79));
  background-repeat:repeat;
  background-size:cover;
  background-position:center;
}

.bg-gradient-dark-blue-4 {
  color:#fff !important;
  background-image:url(../img/extra-2.svg), radial-gradient(ellipse farthest-corner at 90% 90%,
      rgb(51, 62, 79), rgb(51, 62, 79) 10%, rgb(77, 91, 116) 50%, rgb(51, 62, 79));
  background-repeat:repeat;
  background-size:cover;
  background-position:center;
}

.bg-gradient-dark-blue-5 {
  color:#fff !important;
  background-image:url(../img/extra-3.svg), radial-gradient(ellipse farthest-corner at 90% 90%,
      rgb(51, 62, 79), rgb(51, 62, 79) 10%, rgb(77, 91, 116) 50%, rgb(51, 62, 79));
  background-repeat:repeat;
  background-size:cover;
  background-position:center;
}

.bg-texture {
  background-color:#fff;
  background-image:url(../img/texture.jpg);
  background-position:center;
  background-size:cover;
  color:#53565A;
}
 */
